<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Paper Stack</title>
<link rel="stylesheet" type="text/css" href="style.css" />

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script >
$(document).ready(function(){
	alert("welcome");
	$("#register").click(function(){
		alert("hi..");
	$(".container").hide();
	$("#wrapper").show();	
	});
	
	$("#signIn").click(function(){
	$("#wrapper").hide();
	$(".container").show();	
	});
	
	
	});


</script>
</head>
<body>
<div class="container">
	<section id="content">
		<form action="">
			<h1>Sign In</h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" />
			</div>
			<div>
				<input type="submit" value="Sign in" name="submit"><input type="reset" value="Cancel" name="submit">
				<div ><a href="#" id="register" >Register</a><a href="#">Forgot password?</a>
				</div>
			</div>
		</form><!-- form -->
		
	</section><!-- content -->
</div><!-- container -->

<div id="wrapper" style="display:none;">
        <form method="post" action="">
            <fieldset>
                <legend>Register Form</legend>
                <div>
                    <input type="text" placeholder="First Name" name="first_name">
                </div>
                <div>
                    <input type="text" placeholder="Last Name" name="last_name">
                </div>
                <div>
                    <input type="password" placeholder="Password" name="first_name">
                </div>
                <div>
                    <input type="text" placeholder="Email" name="email">
                </div>
                <div>
                    <div class="small">this textarea is just for test so you can see the placeholder working on textarea as well</div>
                    <textarea placeholder="Message" name="message"></textarea>
                </div>    
                <input type="submit" value="Sign up" name="submit" ><input type="reset" value="Cancel" name="submit">
                <div ><a href="#" id="signIn">Sign in</a><a href="#">Forgot password?</a>
				</div>
            </fieldset>    
        </form>
    </div>
</body>
</html>